.feedback {
  color: #ccc; /* Light text color */
  border-radius: 8px;
  width: 88vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow */
  margin-bottom: 20px;

  .feedback-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff; /* White title text color */
  }

  .feedback-form {
    margin-bottom: 20px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 10px; /* Space between textarea and button */

    .feedback-input {
      width: 77%; /* Full width */
      padding: 10px;
      font-size: 16px;
      border: 1px solid #333; /* Darker border */
      border-radius: 4px;
      resize: vertical;
      background: #21272b;
      color: #ccc; /* Light text color */
    }

    .feedback-button {
      align-self: flex-start; /* Align button to the left */
      margin-top: 10px;
      padding: 8px 16px;
      font-size: 16px;
      background-color: orangered;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: green;
      }
    }
  }

  .feedback-list {
    .feedback-item {
      margin-top: 10px;
      padding: 15px;
      background-color: #333;
      border-radius: 6px;
      color: #fff;
      word-wrap: break-word;
      overflow-wrap: break-word;
      overflow: hidden;
      width: 80%; /* Full width */
      
      .feedback-actions {
        display: flex;
        gap: 8px;
        margin-top: 30px;
      
        .edit-button,
        .delete-button {
          padding: 5px 10px;
          font-size: 13px;
          border-radius: 4px;
          border: 0.1px solid #002348;
          // color: #333; 
          background-color: transparent; /* Transparent background */
          cursor: pointer;
          transition: background-color 0.2s ease, color 0.2s ease;
      
          &:focus {
            outline: none;
          }
      
          &:hover {
            color: #0056b3;
            border: 0.1px solid  #003267;
          }
        }
      
        .edit-button {
          color: #007bff;
          
         
        }
      
        .delete-button {
          color: #007bff;
          
         
        }
      }
      
    }
  }

  .feedback-list {
    .feedback-list-title {
      font-size: 18px;
      margin-top: 80px;
      margin-bottom: 10px;
      color: #fff; /* White title text color */
    }

    .feedback-item {
      margin-bottom: 15px;
      padding: 10px;
      background-color: #161a1f; /* Darker item background */
      border: 1px solid #555; /* Darker border */
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly lighter shadow */

      .feedback-info {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .feedback-avatar {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .feedback-user {
          font-weight: bold;
          margin-bottom: 2px;
          color: #fff; /* White user text color */
        }

        .feedback-time {
          font-size: 12px;
          color: #999; /* Lighter time text color */
        }
      }

      .feedback-text {
        font-size: 16px;
        white-space: pre-wrap;
        color: #ccc; /* Light text color */
      }
    }
  }

  .stars {
    .star {
      font-size: 24px;
      color: #ccc;
      cursor: pointer;
      transition: color 0.2s ease;

      &.active {
        color: #fdd835; // Yellow color for active stars
      }

      &:hover {
        color: #fdd835;
      }
    }
  }

  @media (max-width: 1105px) {
    .feedback {
      width: 96vw;
    }
  }

  @media only screen and (max-width: 768px) {
   .feedback-list .feedback-item .feedback-text {
      font-size: 14px;
    }

     .feedback-list .feedback-item {
      // width: 91vw;
      width: 100%;
    }
    .feedback-form .feedback-input {
      width: 100%;
    }

 
  }
}
